<div class="container">
    <div class="container-inner inner-default clearfix">
        <h2>Haveランキング</h2>
    </div>
</div>
<%= render partial: "items/list", locals: { items: @have_ranking_items, counts: @have_ranking_counts} %>