<div class="container">
    <div class="container-inner inner-default clearfix">
        <h2>Wantランキング</h2>
    </div>
</div>
<%= render partial: "items/list", locals: { items: @want_ranking_items, counts: @want_ranking_counts} %>